[2011-04-21 18:59] audreyfeldroy opened #1 "Fix the twitter feed in grid-right of base.html"
It should display the latest tweets from http://twitter.com/#!/audreyr/la-python-ladies

Right now the code is there, but it displays nothing. I haven't had time to figure out why.

[2011-08-04 05:16] pyeek opened #4 "Pyladies logo covers home link with 1024 browser resolution"
When browsing pyladies site in low resolution, the logo covers the first link in the nav bar.

See [screenshot](http://imgur.com/hjCUq)

[2013-01-17 02:59] justinabrahms opened #8 "Confusing repository setup"
It is difficult to figure out which repository I want if I want to work on the pyladies website. Can we delete pyladies.github.com repo? At least change the description to not say "the actual pyladies.com website".

[2013-01-17 03:18] dtiburon opened #9 "Blog post!"
I'm going to add a blog post about my GNOME OPW internship project.

[2013-01-17 03:56] #8 closed, assigned to nobody

[2013-01-17 04:00] #1 closed, assigned to nobody

[2013-01-17 04:00] #4 closed, assigned to nobody

[2013-01-17 17:27] justinabrahms opened #14 "Remove compiled files from git checkout."
Its terribly confusing to have multiple versions of a file in the repository.

I would suggest to change `wsgi.py` to first compile the code, then serve the static files. This could be done if someone sufficiently familiar with mynt (or motivated to learn) would figure out how to compile a directory of templates programmatically.

Thoughts?

[2013-01-17 22:20] florapdx opened #16 "Upcoming events meetup widget and input request"
Hi all! I wrote a javascript widget that pulls in the next month's worth of events from all chapters who have meetup.com pages, along with a little html wrapper that allows for scrolling of the list (in other words, so it can sit in a sidebar somewhere).

Looking for guidance on three things:
--where this little guy might go (home page?)
--what dimensions it should be (might need to create a sideb

[2013-01-24 19:30] #14 closed, assigned to nobody

[2013-02-10 03:33] #16 closed, assigned to nobody

[2013-02-10 03:38] florapdx opened #25 "new layout/design"
Alright, this is what I came up with. Keep in mind that I am not a designer, and that for some reason my screenshot app doesn't want to pick up the footer or the meetup widget photos, plus a couple of other odds and ends. Anyway, you'll get the rough idea. Three representative pages.
![homepage](https://f.cloud.github.com/assets/1137259/142882/30c203c0-7333-11e2-85ae-ede4a64f7982.png)

![locations

[2013-02-14 02:14] #25 closed, assigned to nobody

[2013-04-03 16:37] econchick opened #37 "can we haz our donation page?"
https://psfmember.org/civicrm/contribute/transact?reset=1&id=6

[2013-04-14 00:30] florapdx opened #40 "new chapters"
Hi guys,

I've grabbed all of the info on the new chapters--Vienna, Montreal, and Nashville--to add to the locations page and Twitter and Meetup widgets. Will submit pull request in a few minutes.

[2013-06-11 07:03] econchick opened #45 "Fix conflicting bullets/numbers in About page"
In our [About](http://www.pyladies.com/about/) page, we have conflicted bullets and numbered line items:

![fixme-2013-05-31 at 1 17 17 pm](https://f.cloud.github.com/assets/1191069/635793/0033fbe6-d265-11e2-9e55-77e096ed9d1c.png)

[2013-06-20 15:52] alicetragedy opened #48 "Vienna Subdomain page - fix name"
hellooo! typooo!

my name has been spelled wrong :)
"gaetano".
Floor and/or Basti, can you fix that?
dankeschön!

[2013-08-14 20:10] econchick opened #61 "Berlin's email addy is wrong"
Sent an email to klara@pyladies.com but bounced back - I think it's supposed to be berlin@pyladies.com.  @estherbester can you can firm?

[2013-08-16 16:09] svaksha opened #62 "Virtualenv instructions in README.md"
I wanted to add a link to our [Bangalore mailing list](http://mail.python.org/mailman/listinfo/pyladies-blr) to the [locations page](http://www.pyladies.com/locations/blr/), and came across this line in the [Readme.md](https://github.com/pyladies/pyladies#to-run-locally) file "It is important that when you create your virtualenv, do not create it in the same folder as the code you downloaded."

Th

[2013-08-18 20:14] #45 closed, assigned to nobody

[2013-08-18 20:17] econchick opened #66 "Dropdown menu in navigation?"
I think it might be a good idea to implement dropdown menus to clean up the Navigation.  For instance, maybe under "About" we have "Locations", "CoC", etc.

End goal: I want to put up more pages like "Donations", "Sponsorships", etc, and I don't want to crowd the navigation.

[2013-08-19 17:40] econchick opened #67 "Helsinki upcoming meetups not shown on sidebar"
Hey @florapdx and/or @sarasafavi - it's been reported that the Upcoming Meetup widget doesn't show our Helsinki chapter's events even though they have the correct ID in the locations page.  Would you mind looking deeper into it for us?

[2013-10-06 15:39] vitoriavasconcelos opened #73 "Body text font type doesn't work so good at chrome browser"
The body text font type (Quicksand Regular) doesn't work so good at Chrome browser.

[2014-01-07 21:01] #61 closed, assigned to nobody

[2014-01-30 22:55] econchick opened #80 "Add button to tweet current article"

[2014-02-05 01:21] econchick opened #81 "Update footer to contain trademark verbiage"
We need to mention that "PyLadies and the PyLadies logo are trademarks of the Python Software Foundation".

[2014-02-05 01:23] econchick opened #82 "Create usage policy for the logo/name"
Per the PSF Board, we need to create/write/adopt a usage policy for the PyLadies name/logo.  We can use the [PSF's policy](http://www.python.org/psf/trademarks/), or create our own (perhaps with inspiration or heavy influence from the PSF's policy).

[2014-04-21 19:24] econchick opened #90 "Switch Default font"
Lots of complaints that Quicksilver renders poorly on Firefox and Chrome.

[2014-04-22 18:57] #90 closed, assigned to nobody

[2014-06-20 16:57] econchick opened #101 "Remove hard-coding of meetup IDs"
Currently, our meetup widget done by @florapdx picks up hard-coded Meetup IDs for each chapter that has a meetup page within `www/_templates/site.html`.  This should be abstracted away to a config/JSON file that the Meetup script can pick up.  This could potentially live in the project's `www/config.yml` file.

[2014-07-06 23:43] econchick opened #104 "test issue for zapier"
foo bar baz

[2014-07-06 23:44] #104 closed, assigned to nobody

[2014-08-26 02:06] willingc opened #117 "Link Archives to Home Page"
There is some good stuff in the PyLadies Archive http://www.pyladies.com/archives/
I stumbled across this when I was looking for old resources on CFPs and speaking at PyCon.

I would be great to make the archive more prominent even if it is a teaser box with a blast from the past link to old posts. A simple link or menu item works too ;)

[2014-09-19 17:41] econchick opened #126 "Some of the social icons on are not rendering"
I have no idea why :( - particularly, the Twitter and Google + (as far as I can see) are not rendering.  However I don't think it's _all_ social since the GitHub one shows up just fine in the footer.

[2014-09-19 17:57] yamila-moreno opened #127 "Bug: the css makes a link unreachable"
In www.pyladies.com/locations the cards have a name in capital letters: this name has a link, but, the space of the icons below is too big and overlaps the link in the name.

[2014-09-19 18:07] #126 closed, assigned to nobody

[2014-09-19 23:03] #127 closed, assigned to nobody

[2014-10-08 00:37] qubodup opened #130 "excerpts not handling headers/images/italic well"
post.excerpt gives you the first paragraph of a post, which can be an image or "None" if it's a header or italic ("*"). An upstream solution might take a while ([discussion](https://github.com/Anomareh/mynt/issues/12)).

This issue breaks the style on the homepage and on /blog/

I suggest that posts are modified to have a text paragraph as the first item. The affected /www/_posts/ files and sugges

[2015-01-04 19:08] helenst opened #138 "Meetup groups on Locations page"
Some meetup groups do not appear to exist:
Nashville http://www.meetup.com/Nashville-PyLadies
Charleston http://www.meetup.com/PyLadies-Charleston/
Vancouver http://www.meetup.com/pyladiesvan/

Groups for Seoul and Salt Lake exist but are not linked from this page.
http://www.meetup.com/Seoul-PyLadies-Meetup/
http://www.meetup.com/Salt-Lake-Pyladies/

[2015-01-05 16:34] econchick commented on #138
I can take down the info of the defunct locations, but with regards to the groups not listed, it's usually on the hands of the local organizers to submit a pull request.

TBH I'd like this information to easily come from a config.yaml file (probably the same one that you used in your PR).  So that I can just easily add a new link to a config file rather than mess with HTML.

[2015-01-05 17:08] helenst commented on #138
ah, makes sense. I just saw some groups that were in the meetup list and not in Locations, and vice versa. And yes, it would be nice to have the meetup URL fragments, twitter IDs etc. in the yaml to generate the locations page content.

[2015-01-06 02:56] #101 closed

[2015-01-10 13:56] biba79 opened #139 "template not found"
I get this:

    $ mynt gen -f _site

    !! Template not found.
    ..  post.html in post 'Donate to PyLadies @ PyCon 2015!'

[2015-01-10 16:56] econchick commented on #139
Are you doing it within the `www` directory?

[2015-01-10 18:18] biba79 commented on #139
Yes, and this is what happens in it...

    source envs/pyladies/bin/activate
    cd pyladies/www
    www beec79$ mynt gen -f _site && mynt serve _site

    !! Template not found.
    ..  post.html in post 'Donate to PyLadies @ PyCon 2015!'

    www beec79$ git status
    On branch master
    Your branch is up-to-date with 'origin/master'.

    nothing to commit, working directory clean

    www b

[2015-01-10 19:03] econchick commented on #139
I can't reproduce this error - your error is complaining that `_templates/post.html` doesn't exist but it does ([here](https://github.com/pyladies/pyladies/blob/master/www/_templates/post.html)).

Perhaps try removing the whole repo, recloning and making a new env.

[2015-03-23 18:54] hynek opened #147 "Fourth-level headings are in Arial/Helvetica"
As exemplified in http://www.pyladies.com/blog/pyladies-at-pycon/ by the “PYLADIES GPG KEY SIGNING OPEN SPACE” heading:

![image](https://cloud.githubusercontent.com/assets/41240/6787949/7178908c-d196-11e4-8c51-7335425b2796.png)

[2015-04-13 11:27] econchick commented on #139
If this is still happening, please reopen. Thanks!

[2015-04-13 11:27] #139 closed

[2015-04-13 11:27] #138 closed

[2015-04-13 11:33] econchick opened #148 "Make site flex-width/mobile-friendly"
Currently when you resize the page, the navigation bar awkwardly resizes:
![2015-04-13 at 7 31 am](https://cloud.githubusercontent.com/assets/1191069/7114811/3bda5b80-e1af-11e4-9aab-bf24bc8f2ba0.png)

Maybe we also need to collapse the navbar into fewer items (and maybe replace the logo with the smal geek girl.

It also isn't mobile friendly - navbar should collapse into the "hamburger" icon.

[2015-04-13 11:34] #80 closed

[2015-04-13 11:36] econchick commented on #62
If this still remains an issue, please reopen to discuss.

[2015-04-13 11:36] #62 closed

[2015-04-13 11:37] #40 closed

[2015-04-13 11:38] econchick commented on #37
To revive this old discussion, I think we should resurrect the `sponsor` page.  Perhaps a `How I can get involved` with links to subpages to `Sponsor`, `Donate`,  `Start your own PyLadies`, `Find a Local PyLadies`

[2015-04-13 11:38] #48 closed

[2015-04-13 11:39] #9 closed

[2015-04-13 11:39] #67 closed

[2015-04-13 11:41] econchick opened #149 "Convert "locations" page to map w/ pins"
I currently don't like the layout of the `locations` page.  I think it'd be a nice representation to have a dynamic map (maybe like [d3](d3.org)) with pins on the location.  Once a user clicks on a pin, detail comes up that's similar to what is shown now, e.g. local logo, meetup link, twitter link, email, etc.

[2015-04-13 11:48] econchick opened #150 "Double check Location info"
In `www/config.yml`, chapter info may not be correct.  There are in fact a handful of incorrect Meetup IDs.  I'd like to:
1. Double check meetup IDs
2. Add locations that are missing (cross reference a list that I have)
3. Double check other links to other media, etc for correctness
4. For "retired" or "inactive" locations, create a new item in the `config.yml` file named `inactive_chapters` with

[2015-04-13 12:54] econchick opened #151 "Update "setup your mac" on resources page"

[2015-04-13 12:55] econchick opened #152 "Collection of CfPs relevant to PyLadies"

[2015-04-13 12:56] econchick opened #153 "Promote PyLadies speakers at upcoming conferences"

[2015-04-13 12:56] econchick opened #154 "Update the Intro to IRC"
Make sure it is up-to-date (not sure what is wrong or right)

[2015-04-13 13:04] econchick opened #155 "Write up: how to add a resource to pyladies site"
Create a form where folks can submit resources they like

[2015-04-13 13:05] econchick opened #156 "Cleaning up website"
Ideas:
- [ ] carousel of photos from local groups above the fold
- [ ] move down "signup for newsletter"
- [ ] remove/retire "forum" which points to discuss.pyladies.com
- [ ] replace "forum" with contact info landing page
- [ ] for "Resources", have the "list view" actually show a landing page of links to resources (see: @cwilling's CPython groovy landing page)
- [ ] new color scheme: light blue/

[2015-04-13 13:16] econchick opened #157 "Update CONTRIBUTING.md"
Update the `CONTRIBUTING.md` file to add that any unassigned issue is fair game!

[2015-04-13 13:22] phildini opened #159 "Vagrant setup for dev?"
Hello! Since there are special requirements for setting up a devenv, would it make sense to have a Vagrantfile that people could use to bootstrap a developer environment? If so, I'm happy to make one.

[2015-04-13 13:25] econchick commented on #159
Thanks @phildini !  Let's confirm that this is needed in a VM before we update the README and provide a vagrant setup :+1:

[2015-04-13 13:33] econchick commented on #152
Should also think about a good process for maintaining & collecting

[2015-04-13 14:00] econchick opened #160 "Implement Travis CI to auto-deploy merge to master"
Current process:

1. Merge to master (local)
2. Push to github
3. rsync to web host

Would like to

1. Merge to master (local)
2. Push to github
3. Travis CI does it's magic to auto-deploy

[2015-04-13 14:05] econchick opened #161 "Should we move away from mynt?"
Mynt is causing issues because:
1. Not complete documentation
2. Unhelpful error messages
3. Not as big of a community behind it for support

Look into (not a complete list)
- pelican
- nikola
- frozen flask

[2015-04-13 14:06] phildini opened #162 "Issues generating site"
In trying to check requirements.txt for any dependency orphans, I came across a bug where I wasn't able to generate the site.

Steps to Reproduce (all of these are on MacOSX Yosemite):

1. Clone pyladies repo
2. Create virtualenv
3. `pip install mynt==0.2.2`
4. `cd www && mynt gen _site`

Error:
[code]

[2015-04-13 14:07] econchick commented on #152
Thinking more on this - I think a YAML file would be sufficient and easy enough to update & maintain of upcoming Python/OSS-centric conferences that the static site parser automatically picks up (similar to how the locations are currently generated)

[2015-04-13 14:41] econchick opened #163 "Create a hub for remote women"
Using DC's model, publish upcoming classes that are recorded/broadcasted.

[2015-04-13 14:42] econchick commented on #163
Add a resource page in the organizers' manual on how to organize a good remote class (cc @kcunning)

[2015-04-13 15:18] econchick commented on #162
Addressed with c994205b2533ba62e89f9531ac9400613bf5fa82

[2015-04-13 15:18] #162 closed

[2015-04-13 15:19] econchick commented on #139
My bad - this was indeed replicated.  Fixed with c994205b2533ba62e89f9531ac9400613bf5fa82

[2015-04-13 15:27] biba79 commented on #139
Cool. We've pushed the munich page a different way and since you approved pull request it's been up and running just fine. Thanks for the help.

[2015-04-13 15:29] econchick commented on #159
FYI So far, python-dev was required when I spun up a fresh VM.  Not sure about libevent-dev.

[2015-04-13 15:44] econchick opened #164 "Add links to our store!"
We currently have [pyladies.spreadshirt.com](http://pyladies.spreadshirt.com) and we should link to it!

We also have a sticker store with [stickermule](https://www.stickermule.com/user/1070441144/stickers).

[2015-04-13 20:19] econchick commented on #156
Here's the [color scheme](http://www.colourlovers.com/palette/3730203/PyLadies) that I'd suggest (but am more than open to talk about and adjust).

[2015-04-13 20:52] econchick commented on #156
Here's the AI for the pyladies logo: https://www.dropbox.com/s/fub4ms919xlvkdp/pycon-banner-2015.ai?dl=0

[2015-04-15 03:20] phildini commented on #159
Yeah, it may not be a priority if a python static site generator is all that's really needed. I'm happy closing the issue since mynt is now running fine for me.

[2015-04-15 03:20] #159 closed

[2015-04-15 22:14] phildini commented on #151
What kinds of updates are you looking for here?

[2015-05-03 19:21] williln commented on #164
@econchick I'll do this. Can you assign it to me?

Also, where should this go? I was thinking on the homepage, under "WELCOME!" Maybe add a section called, "GET SOME SWAG!" with links to the two stores?

[2015-05-03 19:23] williln commented on #157
Here? https://github.com/pyladies/pyladies/blob/master/CONTRIBUTING.md

You mean like add a new section about contributing to the repo (basically, like what I am doing now? :) )

I'll do this too!

[2015-05-03 19:29] econchick commented on #157
Yep exactly!

[2015-05-03 19:32] econchick commented on #164
Maybe under the "Sponsor Us" button on the right, like two buttons, "Buy our stickers" and "Check out our swag" (really don't care about the verbiage though).

Feel free to take it - I'm going to make a new team within the organization for "contributors" and assign it to you.

[2015-05-03 19:34] econchick commented on #164
@williln I just sent you an invite to the Collaborators team - accept it so I can try to add you to this and the other issue :)

[2015-05-03 19:38] econchick commented on #157
I think that in order to assign issues, one has to be a part of the [PyLadies Contributor team](https://github.com/orgs/pyladies/teams/contributors); can you add a blurb about that too, @williln ? I am not sure how people can request to join; I'm not sure if it's even public :-/

[2015-05-03 19:42] williln commented on #164
Done! :)

[2015-05-03 20:01] williln commented on #163
also cc @ossanna16; I know she was thinking about this as well.

[2015-05-03 20:02] #157 closed

[2015-05-03 20:05] williln commented on #164
@econchick Stupid question time: how do I install libevent? I downloaded the GZ file, but pip install doesn't seem to like it. (I'm used to developing in a very consistent, but sort of odd environment-- this is my first time setting up a GitHub project to run locally on my machine.)

Or if anyone else has a "getting Pyladies running on your machine" that is more step-by-step in terms of installing

[2015-05-03 20:11] williln opened #169 "Upcoming meetups not appearing in sidebar"
In Firefox and Chrome, the Upcoming Meetups box is blank.

![upcoming_meetups](https://cloud.githubusercontent.com/assets/2286304/7446683/dd5bd88a-f195-11e4-933f-ef717b4c0221.png)

[2015-05-03 20:38] willingc commented on #169
@williln Well that's unfortunate. Any idea why? Recent PR change? Meetup issue?

[2015-05-03 20:38] willingc commented on #169
@williln Oh and nice job on the recent PRs :)

[2015-05-03 20:39] econchick commented on #164
yeah it's not a Python library. I think this is what's needed to install it:

* Download latest stable release of libevent from their site.
* Unzip and cd into the libevent directory
* Run `./configure && make`
* Run `sudo make install`

[2015-05-03 20:39] williln commented on #156
I like this color scheme! I am also not a designer :) I would be willing to help with all this, but would need some strong mentoring.

[2015-05-03 20:40] econchick commented on #164
(also - there are no stupid questions!)

[2015-05-03 20:42] williln commented on #169
@willingc No idea, just happened to notice it. There is this notice in the meetup API Google group that has a reported issue that says it's fixed, so idk. :-/

And thanks!

[2015-05-03 20:43] econchick commented on #169
hmm I don't know when the last time it worked (could be yesterday, could be 3 months ago, no idea).  IIRC it's a Meetup widget, e.g. not something we wrote ourselves.  Worth investigating.

[2015-05-03 20:46] econchick commented on #156
Thanks @williln ! This is actually being worked on at [pyladies/pyladies-theme](github.com/pyladies/pyladies-theme) with @viviangb - she needs to push what she has (is currently at Uni and quite busy).  I've just invited her to the Collaborators team so I can assign her this issue; but I am sure she'd welcome help (will assign it to you, too).

[2015-05-03 20:47] willingc commented on #169
Wondering if the recent pr merge with config.yml had something to do with it. Nothing jumped out at me but another pair of eyes couldn't hurt.

[2015-05-03 20:50] willingc commented on #169
I think this may be related to it: https://groups.google.com/forum/?fromgroups#!topic/meetup-api/4gki83Icrjo

[2015-05-03 20:51] willingc commented on #169
And if that's not it there was a recent Oauth bug that meetup fixed in their code.

[2015-05-03 21:06] ossanna16 commented on #163
Thanks for thinking of me Lacey :) Lynn and I talked about the publishing part and I'm working on it.

[2015-05-03 21:24] willingc commented on #169
This is the file for meetup widget:
https://github.com/pyladies/pyladies/blob/master/www/_assets/js/meetup_widget.js

The developer tools in Chrome were showing an error with the data length in the for loop having an undefined error.

[2015-05-07 14:11] viviangb commented on #156
Hello @williln @econchick , I apologize for the long delay but I finally finished my school work so I'm back again with this project. I'll be pushing my changes this weekend because first I need to clean it up a bit. @williln what are your skills? If you want to help, I'm currently redesigning the pyladies site using this framework, http://getuikit.com, please take a look at it whenever you can.

[2015-05-07 15:01] willingc commented on #164
@econchick +1 re: questions :)
@williln Ooh links to the stores. :cool:

[2015-05-07 15:27] williln commented on #156
@viviangb I've done mostly Django for web development, and am not familiar with this framework. But I'm a fast learner! I also have incredibly minimal design experience.

I basically hopped on this issue because it sounded cool and I want to be more involved in contributing to Pyladies :)

[2015-05-10 18:08] econchick commented on #169
Fixed with #174

[2015-05-10 18:08] #169 closed

[2015-05-12 01:42] williln commented on #164
New question time! I'm still trying to get Pyladies to run locally on my machine, and am almost there. I am to  step 6:

But I'm getting an ImportError:

    from SimpleHTTPServer import SimpleHTTPRequestHandler
ImportError: No module named 'SimpleHTTPServer'```

As far as I could tell, things installed correctly when I ran step 4 (requirements.txt). But it did produce many many lines of messages,

[2015-05-12 03:35] estherbester commented on #164
Hi @williln SimpleHTTPServer is in the standard lib, but it looks like it was renamed in Python 3 to http.server, per this -  https://docs.python.org/2/library/simplehttpserver.html

I'm not a Python 3 user so I can't be of any more help, I'm afraid. Is mynt Python 3-compatible?

[2015-05-12 04:34] econchick commented on #164
I don't think it is; and also make sure you're in the `www` directory or mynt won't work.

[2015-05-12 04:58] williln commented on #164
I think that's the problem; that I'm using python 3. I'll install
2....7?... tomorrow and try again. Thanks!
On Mon, May 11, 2015 at 9:34 PM Lynn Root <notifications@github.com> wrote:

[2015-06-03 01:11] williln commented on #164
I am finally getting back to this...

![screen shot 2015-06-02 at 6 06 30 pm](https://cloud.githubusercontent.com/assets/2286304/7950598/21f20f0e-0952-11e5-8943-eab5f7ae57ab.png)

I am not a CSS wizard, but I would like to center the text on at least the bottom button. There are a lot of places where the CSS impacts these buttons, though. For CSS, I created an id called ```#swag_btn``` and ```#sti

[2015-06-04 18:41] willingc commented on #164
@williln If you send me a link to the code you are working on or submit a work in process PR here, I would be happy to take a look.

[2015-06-05 13:21] willingc commented on #164
@audreyr Your Inland Empire post last night got me thinking... Any tips for @williln?

[2015-06-05 17:30] audreyr commented on #164
@williln Try generating the styles with http://howtocenterincss.com and see if it works :)

If still stuck, don't worry. If needed I'll take a closer look at the code when I get a chance.

[2015-06-05 17:37] willingc commented on #164
Thanks @audreyr. That is a cool site :)

[2015-06-13 19:48] williln commented on #164
@willingc and @audreyr I got it to work with the site that Audrey linked to (well, with inline styles, which is not ideal, but at least fine for an in-progress PR), but now I cannot git push because of this error:

[code]

I ran ```git pull --rebase upstream master``` before I started today, so I'm not sure what this means. I tried to run ```git pull``` like the error message suggested, but then I

[2015-06-13 19:57] williln commented on #164
So I got the styles to work (as inline styles, which is not ideal, but which is fine for an in-process PR), but now I cannot push them to my repo because of this error:

[code]

I have run ```git pull --rebase upstream master``` with no errors, and I have committed with no errors, but whenever I try to run ```git pull``` like it suggests, I get this:

[2015-06-17 04:02] econchick opened #186 "Document deployment steps"
Since it's a bit of a mess that's all in my head right now :-/

cc @estherbester

[2015-06-18 18:15] willingc opened #187 "Create a San Diego PyLadies website"
@piinthecloud Would you mind if San Diego PyLadies used the very nicely done Seattle site as a starting point for creating the San Diego PyLadies website? With attribution of course :)

[2015-06-18 18:30] piinthecloud commented on #187
Hi Carol, yeah, please go ahead :)

On Thu, Jun 18, 2015 at 11:15 AM, Carol Willing <notifications@github.com>
wrote:

--
Cheers,

Stephanie Pi

[2015-06-18 18:53] willingc commented on #187
@piinthecloud Awesome! I showed it to some folks here in San Diego and they really liked it. We're hoping to have it as a Tuesday Night project for some of our newer coders.

[2015-06-18 19:09] treyhunner opened #188 "Suggested CSS improvement for remote.pyladies.com"
I saw the new remote site.  Really cool idea!

I noticed the page content was a little wide on my widescreen laptop.  You can use the `container` Bootstrap class to keep stuff inside it centered in an appropriately-sized grid for each browser resolution (automatically scales for mobile too).  I think using the `container` CSS class in 3 places on the website will make it more readable on higher re

[2015-06-21 15:05] #188 closed

[2015-07-15 20:15] williln commented on #164
I did it!

[2015-07-15 20:15] #164 closed

[2015-07-20 18:06] Winterflower opened #195 "Add more content to Pyladies London site"
@galvanic @Eleonore9 what do you think?

[2015-07-20 19:57] celeen opened #196 "Update Chicago 'organizers' page- save for chicago W/S/C and pyladies python open source hack night"
Note: please do not work on this issue unless you are in attendance at Chicago's <Write/Speak/Code> and Pyladies open source hack night!

We need to update our organizers page! Catherine has moved to SanFrancisco, and is no longer an organizer with Chicago PyLadies. We need to take her off, and add a short bio/picture for Tanya.

[2015-07-20 23:51] Eleonore9 commented on #195
That's a great idea! I think @galvanic need to add you as a contributor, but all ideas & contributions are welcome!

[2015-07-22 14:09] galvanic commented on #195
Hey @Winterflower the repo for the pyladies LDN is here: https://github.com/pyladieslondon/pyladieslondon.github.io

I'm happy adding you as a contributor or you can add a PR, whichever you prefer.

[2015-07-23 10:02] Winterflower commented on #195
@galvanic thanks, that would be awesome!

[2015-07-27 22:42] econchick commented on #160
Sorta works :)

[2015-07-27 22:42] #160 closed

[2015-07-27 22:43] econchick commented on #160
See d241a9df45bfaaab9fcbef15eae5422d995ba63b

[2015-07-27 22:48] econchick opened #200 "Circle CI deployments not working"
For some reason, Circle CI will not actually deploy merged commits (although it **does** look like it's successful, see [recent build](https://circleci.com/gh/pyladies/pyladies/31)).  I have no idea what's the issue here.

[2015-08-03 18:29] willingc commented on #187
@econchick Ooh...I like the location-specfic label :)

[2015-08-03 18:31] willingc commented on #200
@econchick Did the latest merged commits get deployed? Or is this still an issue?

[2015-08-03 19:34] econchick commented on #200
@willingc I don't think it's resolved; I've been manually deploying for the time being.  The deploys I did this morning, I didn't even check to see if it worked because I assumed it didn't.  But for the next one, I'll be sure to pay attention.

[2015-08-03 21:09] econchick commented on #149
Addressed with PR #197

[2015-08-03 21:09] #149 closed

[2015-08-03 21:11] econchick commented on #200
@willingc I just tried with #197 and Circle CI didn't work even though it looks like it had ([log](https://circleci.com/gh/pyladies/pyladies/44)). :-/

[2015-08-04 18:13] willingc commented on #200
@econchick Good to know. Will take a look at the log.

[2015-08-05 05:15] willingc commented on #200
@econchick See notes on #205

[2015-08-20 23:19] ellisonleao commented on #161
Hey @econchick i did a pelican version of the brazilian chapter website. If you want to check out the source code: https://github.com/pyladies-curitiba/br-pyladies-pelican

It has a lot of room for improvement but its working great so far.

[2015-08-20 23:47] econchick commented on #161
cool thank you @ellisonleao - will check it out!

[2015-08-21 00:12] ellisonleao commented on #161
Sorry about only having a portuguese README version btw.

[2015-08-21 17:57] yasoob commented on #151
@econchick ?

[2015-08-21 18:03] yasoob commented on #153
Should we setup a public `yml`/`md` list? I don't think having a mailing list would be feasible as only a single/few person/s would have access to them that way and others couldn't benefit from it.

Just my 2 cents.

[2015-08-21 18:07] econchick commented on #153
Wasn't suggesting a mailing list, but it as a way to promote those speaking.  I'd imagine similar setup to our `www/config.yml` with the listing of speakers, and then a template pulling from that.

But this needs further discussion on the pyladies organizers' list as to if we should do it, or not.

[2015-08-21 18:09] econchick commented on #151
@yasoob I believe @phildini and I actually spoke in person about this, that's why there wasn't much of a response.  But IIRC it was removing the need for XCode, and a few other things that is escaping me.

[2015-08-21 20:29] yasoob commented on #153
Yes. It would need a proper discussion. Many people are reluctant to list their emails publicly.

[2015-08-24 16:44] #81 closed

[2015-08-25 02:49] willingc commented on #154
@econchick :smile_cat: Stopped short of adding a section on znc bouncers.

[2015-09-13 14:20] amacbee opened #221 "Setup a sub-domain to point to our server's IP address"
We are creating a PyLadies Tokyo website using WordPress on our VPN server.
If possible, we want to setup a sub-domain (e.g. tokyo.pyladies.com) to point to our server's IP address.

Could anyone prepare a sub-domain?
Who should we ask that of?

[2015-09-13 19:34] econchick commented on #221
I can definitely help with that. Let me know the IP address and I'll set it up!

[2015-09-17 05:47] amacbee commented on #221
Thank you!
Here is our server's IP address: 157.7.205.20

And, please merge #219 pull request.

[2015-09-17 14:03] econchick commented on #221
@amacbee I just added the DNS record - it may take up to 24 hours to have it work.

So sorry I haven't addressed your PR - will do that now!

[2015-09-17 14:03] #221 closed

[2015-09-17 17:16] econchick commented on #221
@amacbee FYI I see that it propagated (for me at least):

[code]

And I can see [tokyo.pyladies.com](http://tokyo.pyladies.com) just fine!

Let me know if there's anything else I can do.

[2015-10-03 18:28] willingc opened #223 "Add PyCon 2016 PyLadies info and Update speaking resources"
It would be great to:
- [ ] draft a post on PyCon 2016
- [ ] update how to submit a talk, tutorial, or poster proposal
- [ ] perhaps have encouraging guest posts by folks that have attended past PyCons

[2015-10-03 18:29] econchick commented on #223
+100000000

Perhaps solicit on the org list?

[2015-10-18 23:58] econchick commented on #147
Finally fixed!

[2015-10-18 23:58] #147 closed

[2015-10-30 04:24] bobcatfish opened #232 "mynt 0.2.3 and latest misaka don't mix"
## TL; DR

The instructions on the pyladies repo for how to run locally do not currently work! The latest version of misaka is causing problems.
## The problem

I tried to follow along with [the steps to run the pyladies website locally](https://github.com/pyladies/pyladies#to-run-locally) and I ran into a bit of trouble when running `(PyLadies) $ mynt gen -f _site && mynt serve _site`:

[code]

A

[2015-10-30 04:25] bobcatfish commented on #232
Another possible solution from https://github.com/pyladies/pyladies/issues/161: not using mynt at all :D

[2015-11-06 04:02] treyhunner commented on #232
@bobcatfish :+1: thank you for opening this!  While testing out #235 I couldn't figure out what was wrong until I found this issue.  A `pip install misaka == 1.0.2` fixed everything for me! :smile:

[2015-11-21 16:46] TechWhizZ199 commented on #232
Is this group, restricted just to ladies? :)

[2015-11-21 17:15] econchick commented on #232
@TechWhizZ199 on [pyladies.com](http://pyladies.com) it says:

So no, it's not just for women. It's a group meant to help improve diversity of the Python community.

[2015-11-25 23:55] totallygloria commented on #232
Thanks so much for the work-around -- I was getting the same errors and unsure where to head. Works for me, too!

[2015-12-25 04:37] celeen commented on #196
(This PR)[https://github.com/pyladies/pyladies/pull/242] takes care of the first half of this, and I think the second half either needs to be its own issue, or is no longer an issue

[2015-12-25 04:38] #196 closed

[2015-12-30 14:26] ceaess commented on #155
Is this a simple e-mail form, or are you hoping to stick the resources in some kind of queue for approval?

[2015-12-30 17:45] econchick commented on #155
@ceaess nothing too complex; could even be just a Google form. Is this something you'd like to work on?

[2015-12-30 17:52] ceaess commented on #155
@econchick I'd be happy to. Would you prefer a google form for the spreadsheet management? If so, is there a Pyladies organization on Google under which I should create the form?

[2015-12-30 18:02] econchick commented on #155
@ceaess yeah, we do. I've created a "shared" folder and give your gmail address edit access to it - let me know if there's any issue!

[2015-12-30 18:45] ceaess commented on #155
@econchick Fantastic, I seem to have the access I need. I'll create a PR to add a link to the form on the resources index page when everything's ready, if that sounds good?

[2015-12-30 18:47] econchick commented on #155
perfect, thank you!

[2016-01-13 05:51] bobcatfish commented on #232
I've submitted a pull request to fix this by updating to the latest mynt https://github.com/pyladies/pyladies/pull/249

Will leave the exercise of switching to something other than mynt for https://github.com/pyladies/pyladies/issues/161 :)

[2016-03-26 05:10] daminisatya opened #263 "Create floating back to top button"
Adding a "back to top" button to every page would enhance the UX of the website. For example the locations page has many cards which scrolls down a lot. Such pages would require this enhancement.
I would like to work on this issue.

[2016-04-20 20:11] BethanyG commented on #232
@bobcatfish thank you *SO MUCH* - I just ran into this issue as well, and downgrading to misaka 1.0.2 fixed it immediately.  Looks like #249 is *not quite* closed yet, but soon.  :-)

[2016-06-07 01:23] williln opened #274 "Add PyCon 2017 dates to /resources when released"
http://www.pyladies.com/resources/

Currently, the 2015 dates are displayed.
<img width="730" alt="screen shot 2016-06-06 at 6 23 36 pm" src="https://cloud.githubusercontent.com/assets/2286304/15843055/ca575d5e-2c13-11e6-9856-6b7b506f47b0.png">

[2016-06-08 22:44] willingc opened #275 "New repo requested"
@econchick @audreyr @estherbester @jackiekazil I'm not sure who exactly, other than Lynn, has the super powers to create a pyladies-maintainers repo for me. I would also like a mailing list with the same name unless someone has a better suggestion.

I would use the repo to move resources that are useful to pyladies who are project maintainers and project core developers as well as those looking to

[2016-06-08 22:53] estherbester commented on #275
I'll create the repo, @willingc! As for a mailing list, you should create it using google groups, maybe add one more person to help you administrate?

Also, we should probably refresh our Github team settings at some point..

[2016-06-08 23:31] willingc commented on #275
@estherbester Thanks! Good idea on the additional administrator(s).

[2016-06-09 16:22] willingc commented on #275
Thanks @estherbester. Closing the issue.

[2016-06-09 16:22] #275 closed

[2016-06-09 16:24] willingc commented on #223
Closing this after a very fun, successful PyCon 2016. We can open new issues for PyCon 2017.

[2016-06-09 16:24] #223 closed

[2016-06-14 04:00] #155 closed

[2016-07-01 11:15] pfctdayelise opened #282 "Set DNS for melbourne.pyladies.com to point to github pages"
I've set up the website using github pages, at pyladiesmelbourne.github.io ([Repo](https://github.com/pyladiesmelbourne/pyladiesmelbourne.github.io))
(and CNAME so clicking on the github.io url won't do anything now)

Next some DNS magic is needed on your side: https://help.github.com/articles/setting-up-a-custom-subdomain/

thanks!

[2016-07-18 08:19] econchick commented on #282
Ok - I just setup DNS to point to pyladiesmelbourne.github.io. Let me know if it doesn't work in ~24 hours (takes a while for DNS to propogate).

[2016-07-18 08:19] #282 closed

[2016-07-18 08:19] econchick commented on #274
@williln I welcome a PR for this :)

[2016-07-22 15:09] williln commented on #274
@econchick Was hoping a newbie-newbie would pick this up! But I can submit a PR next week :)

[2017-04-02 21:30] estherbester commented on #200
The build step is currently failing (failed on merging #295).

Right now the error is `ImportError: No module named six.moves`. As far as I can tell, two quick-fix options are 1)  upgrade the version of pip or 2) build on Ubuntu 14 rather than 12.04.

[2017-04-02 23:44] willingc commented on #200
@estherbester I would do 1 and 2 ;-)

[2017-04-03 05:17] estherbester commented on #200
Ok. I tried changing the build image to Ubuntu 14, but then it breaks on fab deploy with `ImportError: No module named Crypto`, so I changed it back to Ubuntu 12.04.

I am not certain where the step to upgrade pip should take place. I am wary of adding it as a pre-dependency command because it comes after the virtualenv is created.

This is fun!  😛

[2017-04-03 05:35] willingc commented on #200
Hmm...I wonder if we used Travis if it would be more straightforward.

[2017-04-04 05:08] estherbester commented on #200
So the build and deploy commands now work (thanks @willingc!!), but the problem remains that while Circle believes the deployment happened, the site has not actually been updated 😹

[2017-04-04 05:32] estherbester commented on #200
Ok I think I see the problem but I'm afraid to try it without a good rollback - I believe the rsync command in the fabfile needs to be set with `local=_site/` (note the trailing slash). Let me test a bit more

[2017-04-04 05:43] willingc commented on #200
Can we set up a staging site for testing?

[2017-05-04 15:03] daminisatya commented on #274
@willingc @econchick @williln  Can I work on this? :)

[2017-05-04 15:05] daminisatya opened #306 "Contact button is broken"
When clicked on the "Contact" button, no action is observed.

![image](https://cloud.githubusercontent.com/assets/6227784/25710192/2a6651fa-3109-11e7-8fdd-52851f4ac18b.png)

[2017-05-04 15:19] willingc commented on #274
Go for it @daminisatya 👍

[2017-05-05 15:50] daminisatya commented on #274
@willingc Looks like the conference has closed the dates for sending proposals, should we wait and change to 2018 once announced? or change it with the current available dates?

[2017-05-05 15:58] willingc commented on #274
I think either option is fine. If you want practice on PRs, please feel free to update the dates and link for 2017. :sunflower:

[2017-06-12 23:19] KatherineMichel commented on #163
I'm going to be doing a PyLadies Remote talk eventually and perhaps could help a bit with this if it's still in the works.

[2017-06-13 14:08] kcunning commented on #163
@KatherineMichel There is a hub for remote learners!

http://remote.pyladies.com/index.html

[2017-06-13 16:45] KatherineMichel commented on #163
Thank you, that's good to know @kcunning.

[2017-07-06 04:51] estherbester opened #309 ""Get your mac ready for Python Programming" page links should be updated"
Some of the links on this page are now out of date: http://www.pyladies.com/blog/Get-Your-Mac-Ready-for-Python-Programming/

[2017-10-10 20:26] izaguerreiro commented on #306
Hi @daminisatya
When you click the contact button it opens the window of your email client, in my case I use Ubuntu opens Thunderbird. You may not have an email client installed on your computer.

[2017-10-18 19:23] mrmorais opened #315 "404 not found page"
Would be nice to have a styled 404 Not Found page.

Current page:
<img src="https://i.imgur.com/FfbrhEu.png">

[2017-10-18 19:26] #315 closed

[2017-11-07 05:29] #274 closed

[2017-11-07 06:00] estherbester commented on #306
Confirmed the link works as a `mail ref`, and should open an email client. Closing this one!

[2017-11-07 06:00] #306 closed

[2017-11-07 06:00] estherbester commented on #263
Nice idea - go for it! 👍

[2017-11-07 06:01] estherbester commented on #200
Went ahead and merged PR #304, because YOLO, and it worked

[2017-11-07 06:01] #200 closed

[2018-01-18 09:19] rimshaakhan commented on #66
Hello @econchick
I want to work on this issue. Can you please guide me how to get started?

[2018-02-25 17:29] pushplataranjan commented on #37
@estherbester @econchick If this issue is resolved. kindly close the issue. I found there are a lot of open issues and PR.
If i can do anything to close issues and review PR, please give a heads up.

[2018-04-28 18:52] camilla-m opened #331 "Add new location to Pyladies"
Hey girls!

I want to make a pull request with another location for Pyladies: Porto Alegre, Brazil.

How can I do that? I read the the docs but I didn't found something to help me.

Thank you!

[2018-04-28 20:06] camilla-m commented on #331
Already created pull request.

[2018-04-28 20:06] #331 closed

[2018-09-13 21:51] lgh2 commented on #309
I was setting up my environment on a new computer and this blog post is one of the top results for installing `pip` on a Mac. The link that it points to install `pip` looks really sketchy, and I don't think it's owned by the PSF.
This is the documentation from PyPA, which we should probably link to: https://pip.pypa.io/en/stable/installing/
This is the correct link to get with `curl`: curl https:/

[2018-10-02 08:21] photon-e opened #344 "help with mynt installation"
please i need help with mynt it keeps asking me to install c++ and i have install it multiple times .....it still doesn't solve the problem

[2018-10-08 07:01] tanvibhakta opened #347 "kit.pyladies.com is wrongly configured"
The Readme.md file asks us to look at the nicely formatted kit at kit.pyladies.org

This domain is broken because it hasn't been properly formatted on CloudFare.

I have also filed this issue on https://github.com/pyladies/pyladies-kit/issues/46

<img width="1280" alt="screen shot 2018-10-08 at 12 27 07 pm" src="https://user-images.githubusercontent.com/13763558/46595448-020d6d00-caf6-11e8-824a-23

[2018-10-18 04:45] pfctdayelise commented on #347
Seems fixed now.

[2018-10-20 16:02] willingc commented on #347
Verifying its back up now.

[2018-10-20 16:02] #347 closed

[2018-10-20 17:39] willingc commented on #161
Bumping this issue. We should consider either porting mynt to Python 3 (either contributing upstream or forking and creating mynt3) or select another static site generator.

[2018-10-20 19:43] #309 closed

[2018-10-20 20:59] willingc opened #350 "Migrate CircleCI to version 2"
CircleCI is sunsetting building using version 1. Our config needs to be updated.

I'll try to get to this later this weekend.

[2018-10-24 17:37] mUtterberg commented on #161
If we're considering other static site generators, I vote Pelican. We chose that package because CLEpy uses it for their site, so we could get help in-person if we got stuck. Plus the documentation is pretty thorough. [Our repo for it](https://github.com/CLEPyLadies/pyladies-official) is [deployed to gh-pages](https://clepyladies.github.io/pyladies-official/) at present. I'm not sure what unique i

[2018-10-24 20:05] willingc commented on #161
Nikola and Pelican are both reasonable options. I would give a slight edge to Nikola as it can support rST, markdown, and Jupyter notebooks.

[2018-10-24 20:11] mUtterberg commented on #150
Do you still keep a list of locations? My new job is pushing back the start date one day at a time (the recruiter misunderstood the Navy subcontracting process or something) so I've got a minute to verify some info.

[2018-10-24 20:15] mUtterberg commented on #161
@willingc I like the sound of that! Pelican does rST and markdown, but the user groups in town have just been posting notebook content to dedicated GitHub repos. Is Nikola as easy to learn & simple to contribute content as Pelican?

[2018-10-26 03:45] mUtterberg commented on #161
I'm a little hesitant to jump on the Nikola train. I tried to install it tonight and ran into a bunch of issues. Their pip version doesn't work on mac, so I'll need to try again if I decide to install homebrew. I just want one package manager and/or distribution to rule them all! haha but actually I've just been avoiding homebrew for no good reason or than I like my conda/pip setup.

But I do thin

[2018-10-26 14:32] willingc commented on #344
If you are using Python 3, try:

`python3 -m pip install mynt`

If that doesn't work, please let me know.

[2018-10-26 14:34] willingc commented on #161
@mUtterberg Good point re: new contributors. Let's look at moving to Pelican.

@econchick @estherbester @jackiekazil @audreyr Thoughts on moving to Pelican?

[2018-10-26 16:32] estherbester commented on #161
PyLadies.com was originally on Pelican!  :D  I'm ok with Pelican, if it
supports all the modern Python goodness.

On Fri, Oct 26, 2018 at 7:34 AM Carol Willing <notifications@github.com>
wrote:

[2018-10-26 22:29] photon-e commented on #344
I did, it still didn't work....can I use Jekyll instead
On Oct 26, 2018 15:32, "Carol Willing" <notifications@github.com> wrote:

[2018-10-26 23:10] willingc commented on #344
@photon-e Are you trying to work on the PyLadies website, a local PyLadies site, or another Mynt project?

[2018-10-30 23:57] thursdayb commented on #161
What do folks think of using a more fully-featured CMS for the blog?

[2018-10-31 13:07] jackiekazil commented on #161
Example?

On Tue, Oct 30, 2018 at 7:57 PM thursdayb <notifications@github.com> wrote:

--
Jacqueline Kazil | @jackiekazil

[2018-10-31 13:10] econchick commented on #161
We had a CMS before mynt; I switched it since static site generators need far less babysitting in terms of security vulnerabilities and potential ddos'ing.

I'm okay with moving to pelican or something else. Just something that's actively maintained (as mynt no longer is). I just moved my own blog to [hugo](https://gohugo.io) and love it, but it's golang, and therefore the templating language is a

[2018-10-31 16:22] willingc commented on #161
I love hugo and use it for my projects. As a Python group, probably good to stick with something Python? :smile:

Which CMS? Wagtail?

[2018-11-06 22:45] thursdayb commented on #161
Wagtail would be amazing

Just having some basic editorial tools would be so helpful

[2018-12-07 06:03] okusama27 opened #357 "Set DNS for to tokyo.pyladies.com to point to github pages"
I changed our web site  using github pages of PyLadies Tokyo Web Page.

https://pyladiestokyo.github.io

Could you set up the forwarding destination of subdomain( tokyo.pyladies.com ) of PyLadies Tokyo?

Old ask ticket #221

[2018-12-17 06:14] phranzia opened #358 "Homebrew installation command doesn't work on website"
On this page, the link to install Homebrew doesn't work.
[code]
But the correct link is in the code.
[code]
This is the page I'm referring to: https://www.pyladies.com/blog/Get-Your-Mac-Ready-for-Python-Programming/Get-Your-Mac-Ready-for-Python-Programming/

[2019-01-29 16:28] photon-e commented on #344
no, i am trying to create another Mynt project from the tutorials on the Pyladies website.

[2019-03-08 19:24] willingc commented on #358
You are correct @phranzia. Thanks for pointing this out. Would you like to make a Pull Request to add the correct link?

`/usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"`

[2019-03-08 19:29] willingc commented on #357
Hi @estherbester and @econchick, Do you have time to add the subdomain on the PyLadies site? If not, I would be happy to do so but would need the credentials :smile:

[2019-03-08 19:32] willingc commented on #344
Hi @photon-e, I'm going to suggest asking the Mynt maintainer if you wish to install Mynt. If you are looking for a Python static site generator, Pelican and Nikola are two popular ones.

[2019-03-08 19:32] #344 closed

[2019-03-08 19:33] willingc commented on #232
Closing this issue since upgrading the infrastructure for this site will likely move away from Mynt.

[2019-03-08 19:33] #232 closed

[2019-03-08 19:33] #195 closed

[2019-03-08 19:34] #187 closed

[2019-03-08 19:34] willingc commented on #186
Closing and replacing with #350

[2019-03-08 19:34] #186 closed

[2019-03-08 19:35] #163 closed

[2019-03-08 19:37] willingc opened #365 "Add PyLadies Remote to Locations"
Add Remote to the list of locations. http://remote.pyladies.com

[2019-03-08 19:38] willingc commented on #161
Let's discuss and make a decision at PyCon.

[2019-03-08 19:42] #151 closed

[2019-03-08 19:43] willingc commented on #117
Archives appears empty now so I'm closing..

[2019-03-08 19:43] #117 closed

[2019-03-08 19:44] willingc commented on #37
Let's add a donate button or link to donate during website refactor.

[2019-03-08 19:45] #73 closed

[2019-03-08 19:46] willingc commented on #82
Let's decide at PyCon but using the PSF policy may be a good choice.

[2019-03-08 19:57] willingc commented on #152
Let's put together a set of links where sites aggregate upcoming conferences.

[2019-03-08 20:08] willingc commented on #150
Thanks for the offer @mUtterberg. Sorry it took a while to respond. If you have time at any point to pick back up, please claim the issue in these comments. Thanks.

[2019-03-08 22:54] willingc commented on #350
Tests now run on CircleCI version 2.

TODO:
- [ ] auto deploy if possible with fabric

[2019-03-09 00:59] willingc opened #369 "Update Salvador PyLadies information for location"
The Salvador PyLadies website is located here: https://pyladiessalvador.github.io/

The current link on the map page directs to a 404 page.

[2019-03-09 01:26] #154 closed

[2019-05-07 14:43] #350 closed

[2019-05-07 20:08] willingc opened #386 "Add a Code of Conduct file to root directory"
It would be nice to make these (COC, Issue template, PR template) green 👍
<img width="761" alt="Screenshot 2019-05-07 13 06 54" src="https://user-images.githubusercontent.com/2680980/57329683-2b609c80-70c9-11e9-999d-076bf2013609.png">

[2019-05-20 23:27] #369 closed

[2019-05-20 23:47] willingc commented on #358
Closing since the 2018 revision of the resource mentions the corrected link.

<img width="646" alt="Screenshot 2019-05-20 16 45 52" src="https://user-images.githubusercontent.com/2680980/58058708-c5d7cb80-7b1e-11e9-8339-99e288f0f491.png">

[2019-05-20 23:47] #358 closed

[2019-05-21 00:05] willingc opened #390 "Add "how to join slack" on About page"
Let's add how to join the pyladies slack to the About page
https://www.pyladies.com/about/

[2019-05-22 22:13] lorenanicole opened #392 "Update PyLadies locations using the PyLadies organizers spreadsheet"
@econchick has provided me with a PyLadies organizers spreadsheet, I can easily automate adding chapter info using that.

Will use this issue to propose how to do this more.

/cc @willingc

[2019-05-22 22:14] lorenanicole opened #393 "Update PyLadies Chicago website info"
It's stale and needs to be refreshed!

[2019-05-22 22:57] willingc commented on #392
Just made a PR #394 that fleshes out the dev setup and notes on YAML for location info.

[2019-05-23 17:24] willingc opened #395 "Add a Funding button to the GitHub repo"
GitHub enables one to put a funding button on repos for sponsorship donations. We should consider doing so: https://help.github.com/en/articles/creating-a-default-community-health-file-for-your-organization.

cc/ @lorenanicole

[2019-05-23 18:17] lorenanicole commented on #395
YES! :100:!

[2019-05-28 23:23] Mariatta opened #396 "Onboarding new chapter?"
In info@pyladies.com mailbox, we receive numerous inquiries related to starting new chapter, or people wondering if a chapter is active/inactive.

I feel like I don't have adequate information on how to respond/help with this type of questions.

1. Where should I forward the email to, if people had questions about starting their new chapter?

2. Regarding inquiries about local chapter, is there a

[2019-05-28 23:27] willingc commented on #392
#396 related to this issue.

#394 has merged.

[2019-05-28 23:47] willingc commented on #390
Link to invite: https://slackin.pyladies.com/

[2019-05-29 19:43] Mariatta commented on #396
Just reading prospective pyladies organizers kit: http://kit.pyladies.com/en/latest/prospective/index.html. It says:
- fill in the interest form
- wait for reply
- ping info@pyladies.com if no reply after a week.

I'm starting to co-handle info@pyladies.com, but I don't actually know what to do next after the ping? 😬

[2019-06-05 01:10] Mariatta commented on #395
I've created [FUNDING.yml](https://github.com/pyladies/.github/blob/master/FUNDING.yml), linking it to https://psfmember.org/civicrm/contribute/transact?reset=1&id=6
(the same link found in https://www.pyladies.com/sponsor/)

I've also enabled the Sponsors feature under pyladies/pyladies
![Screen Shot 2019-06-04 at 5 43 55 PM](https://user-images.githubusercontent.com/5844587/58922573-5eaa4180-86f

[2019-06-06 12:53] econchick commented on #396
Hey @Mariatta - here's the process on my end:

1. Review the request content
    a. If there's already a PyLadies location of the request (or otherwise would share a lot of overlap), I email the submitter (and those that they include as co-organizers) if they know of the existing PyLadies location, or if they're effectively taking over / rebooting the location.
    b. Read the "How did you hear ab

[2019-06-06 13:31] willingc commented on #395
Going to close. Thanks @Mariatta :heart:

[2019-06-06 13:31] #395 closed

[2019-06-06 13:40] willingc commented on #161
I don't think that this ever was discussed at PyCon.

Wagtail has been very active since I started this issue. Here's info about their latest release: https://wagtail.io/blog/wagtail-2-5/

[2019-06-06 18:59] willingc commented on #161
The `migration-base` branch in this repo restructures the repo and provides a baseline for you to try different ideas/apps locally. The README contains info about the branch's structure.

[2019-07-16 21:44] willingc opened #405 "Update meetup app for API changes"
Meetup is changing its API access. We may need to update the app on the homepage.

[2019-07-17 16:26] Mariatta commented on #405
I went through the meetup widget js code, and at the moment there is security issue because meetup API keys are exposed and committed to this public repo. I would consider this high priority to be looked into.

[2019-07-21 15:36] willingc commented on #405
Looks like OAuth2 is now the preferred method to authenticate: https://www.meetup.com/meetup_api/auth/#oauth2

[2019-08-02 15:10] amnoweb commented on #390
I can take this!

[2019-08-02 18:21] Mariatta commented on #390
Yes, please create a PR @amnoweb

[2019-08-02 19:53] willingc commented on #390
Hi @amnoweb. Please let me know if you need any help with the issue.

[2019-08-03 22:43] #390 closed

[2019-08-08 16:47] Mariatta opened #412 "Improve PyLadies map, allow lookup by region"
In [PyLadies locations page](https://www.pyladies.com/locations/), we can see a map of known PyLadies chapters, as well as a list of all chapters alphabetically by city name.

I think it would be great to improve the map that can allow filtering/searching by Country, or by Region, or by state. For example, people might want to search for "PyLadies in Southeast Asia" or "PyLadies in USA" or "PyLadi

[2019-08-15 17:54] lorenanicole opened #416 "blog.pyladies.com view not showing latest blog posts"
The blog.pyladies.com view is out of sync with the most recent blog posts showing on pyladies.com .

Here's screen shot of pyladies.com:
![image](https://user-images.githubusercontent.com/4573607/63114947-c2a47e00-bf5b-11e9-85f0-2aabafae9ba3.png)

And blog.pyladies.com:
![image](https://user-images.githubusercontent.com/4573607/63114961-cc2de600-bf5b-11e9-8e9a-549dfdff81da.png)

[2019-08-15 18:01] Mariatta commented on #416
Oh I wonder if it is pointing to https://github.com/pyladies/pyladies-blog which we archived because of duplication.

[2019-08-15 18:39] lorenanicole commented on #416
I'm sure we can fix that ... may as well just have it point to ... what's actually in the `_posts` folder eh?

[2019-08-21 00:45] willingc commented on #416
This looks as if it is now redirecting to the correct location.

[2019-08-21 00:45] #416 closed

[2019-08-21 00:47] willingc commented on #405
Priority of this issue is raised since it is past the 8-15 and it looks as if the meetups are no longer displaying.

[2019-08-24 06:33] tapaswenipathak opened #421 "Retaining women in open source: Organising open source day monthly"
Hi folks: Finding an active open source contributor or maintainer woman is hard. Internships give a break in open source, if observed there is no retention of women in open source and research[1] suggests. Implementing open source day per month letting women work with mentor and contribute in an open source project they would like would be practical implementation than just publishing research and

[2019-09-03 19:48] lorenanicole commented on #421
Could you elaborate on what it is you are specifically looking for? For example - one thought for me may be with the proposed future PyLadies governance model we'd have a tech pillar that oversees maintaining things like pyladies.com and our resources here on github. See: https://github.com/pyladies/global-organizing/issues/11. Would joining that project team and working on our backlog be an examp

[2019-09-04 01:42] tapaswenipathak commented on #421
On Wed, 4 Sep 2019, 01:18 Lorena Mesa, <notifications@github.com> wrote:

Hello, I would be happy helping pyladies/global-organizing#11
<https://github.com/pyladies/global-organizing/issues/11>. I will email the
proposal out.

[2019-09-04 01:43] #421 closed

[2019-10-03 19:09] rodgeraraujo opened #423 "Update README"
Suggestion, apply more love on Readme.

- Readme needs some love.

[2019-10-03 19:23] Mariatta commented on #423
Please be more specific of what kind of improvement you'd like to see in readme. At the moment this is not helpful

[2019-10-03 19:25] Mariatta commented on #423
Please be more specific of what kind of improvement you'd like to see in readme. At the moment this is not helpful

[2019-10-07 13:46] #423 closed

[2019-10-13 19:48] andressavldrs commented on #386
I just made a PR to solve this issue, let me know if it is all right :)

[2019-10-14 00:55] willingc commented on #386
Closed by #424

[2019-10-14 00:55] #386 closed

[2019-10-21 19:40] Mariatta commented on #357
@ewdurbin wondering if this is something you can help with? We'd like to have tokyo.pyladies.com subdomain that points to pyladiestokyo.github.io

Thanks.

[2019-10-21 20:51] ewdurbin commented on #357
I don't believe that anyone on the PSF team has access to pyladies.com DNS, it is currently delegated to CloudFlare name servers. I'm assuming managed by someone on the PyLadies team.

The pyladies.org domain DNS is hosted by the PSF, though no record exist aside from those for mail and a redirect to pyladies.com.

[2019-10-21 21:30] Mariatta commented on #357
Hmm I also don't know how to set this up. @econchick would you have time to look into this?

[2019-10-22 13:55] econchick commented on #357
Hey there - I've added `tokyo.pyladies.com` to our DNS to point to `pyladiestokyo.github.io`. @okusama27 you'll need to do steps 1 - 3 from [these docs](https://help.github.com/en/github/working-with-github-pages/managing-a-custom-domain-for-your-github-pages-site#configuring-a-subdomain) to get it working.

Ping me if it doesn't work!

[2019-10-23 14:10] Mariatta opened #428 ""Contact" page improvements, add FAQ"
Currently the when people go to PyLadies.com and click the contact link, it opens their email client addressed to info@pyladies.com

The inbox is read mostly only by @elainewong and @Mariatta.

Having maintained the inbox for about half a year, I found that there are many similar incoming emails, having similar answers. Quite often, the intended audience of the email isn't PyLadies admins, but the

[2019-10-23 15:17] Mariatta commented on #428
Some common emails we receive:

1. Companies wanting to share job posting with PyLadies. They can fill in this form, and it will be posted automatically to PyLadies Slack #feed-jobs channel

2. Conferences wanting to share discount code with PyLadies.

3. People wanting to know if there is a PyLadies in their area

4. They've filled in PyLadies interest form, and wanted to know the status.
Answer:

[2019-10-23 17:03] melostbr commented on #428
I want to work on it ✋

[2019-10-23 17:44] lorenanicole opened #429 "PyLadies Brasil 2019 - Sprint Day"
# Overview

Let's sprint on PyLadies topics during [Python Brasil](https://2019.pythonbrasil.org.br/)! Below are some curated issues for us to work on including some experimental ones @lorenanicole has started ...

## Issues

_PyLadies Global Council_
- [Read, review, add to PyLadies Global Council Selection ](https://github.com/pyladies/global-organizing/issues/32)

_PyLadies Global Projects_
- [

[2019-10-23 18:13] lorenanicole opened #430 "Proposal: A Python for Data Science Open Source Workshop!!"
# Overview

Many of us know Django Girls, a highly successful organization that has created an open source workshop to help people (but written with marginalized genders in mind) get started with Django and publish their first blog to the internet.

Python, however, has many use cases. Notable of which is Python's use in scientific computing and data science / machine learning.

As the [2018 JetBr

[2019-10-23 18:24] #430 closed

[2019-10-24 01:26] jackiekazil commented on #428
This is a great idea!

On Wed, Oct 23, 2019 at 1:03 PM Stefanie Melo <notifications@github.com>
wrote:

--
Jacqueline Kazil | @jackiekazil

[2019-10-25 17:51] Mariatta commented on #428
@melostbr are you able to get started, or do you need more info?

I think even starting a FAQ page, and linking to it would be a good start. We can continue adding more Q&A over time.

[2019-10-27 11:19] willingc opened #432 "Create Getting Started with ... and Next Steps with ... pages or cheatsheets"
Create a page to help share resources that can be helpful for getting started:

- web development
- data journalism
- scientific computing
- data science
- embedded systems CircuitPython/RPi/Micropython
- documentation and translation

[2019-10-30 19:02] andressavldrs commented on #365
Can I take this issue? :)

[2019-10-30 21:20] andressavldrs commented on #150
Can I claim this issue? I may need some help with the item 4, but I believe I can make the previous items.

[2019-11-06 20:39] biancarosa opened #436 "Help with Pyladies Rio website"
Hey :)

We're struggling to get our Pyladies Rio back (rio.pyladies.com)
The website is hosted on Github pages (https://github.com/PyLadiesRio/PyladiesRio.github.io) with the custom domain correctly set up:

<img width="695" alt="Screen Shot 2019-11-06 at 16 35 20" src="https://user-images.githubusercontent.com/1480558/68331268-79c01980-00b3-11ea-83ce-0265e2de369e.png">

I suppose it has something

[2019-11-06 20:48] econchick commented on #436
Hey there - I just created the DNS entry for you. I can see that it's working, but it may take a few hours to propagate everywhere. Feel free to re-open this issue if you don't see rio.pyladies.com working in 24 hours.

Thanks!

[2019-11-06 20:48] #436 closed

[2019-12-13 08:53] TheInvincible commented on #428
Is this issue still open?

[2019-12-13 08:56] TheInvincible commented on #148
I see this is still an issue. I would like to take it on.

[2019-12-13 15:39] Mariatta commented on #428
Yes this is still open

[2019-12-14 11:41] Jadamoureen commented on #432
Is there anyone taking up this?

[2019-12-14 12:56] kabahima commented on #412
I would like to work on this issue

[2019-12-17 01:36] BethanyG commented on #432
@willingc  - wondering if we should move this under the communications team since they're focusing on the website/blog revamp and other outreach and communication?

[2020-02-09 18:35] Mariatta commented on #428
Another suggestion, instead of writing email, people should open an issue in a GitHub repo, so any PyLady can respond.

[2020-02-10 04:10] evananyonga commented on #428
Great suggestion!

On Sun, 9 Feb 2020 at 21:35, Mariatta <notifications@github.com> wrote:

[2020-02-11 14:31] mUtterberg commented on #161
One of the business owners that attends our local user group creates a lot of his client sites in Wagtail. This month’s meetup was last night, but I can ask for feedback next month. From what I remember, he had generally positive things to say about the usability. The only complaints I can remember were related to difficulty implementing e-commerce type CRM components. I doubt that’s super relevan

[2020-02-11 18:33] willingc commented on #161
Thanks @mUtterberg for resurfacing this. Would you mind leaving an issue on the global organizing repo for a decision Pelican or Wagtail? Thanks :sunny:

[2020-02-12 12:24] mUtterberg commented on #161
@willingc Gladly!

[2020-02-13 02:12] Mariatta commented on #428
We have created pyladies/info repo. I've also started an FAQ here: https://github.com/pyladies/info/pull/1/files. Please review.

We can iterate and add more FAQ items.

I think the next thing is to adjust the "Contact" link. Currently it automatically opens your email client and info@ is prefilled); The Contact page should now link to https://github.com/pyladies/info
I believe @jtemporal has offe

[2020-02-14 19:56] #428 closed

[2020-02-14 22:00] jtemporal opened #459 "Adding a CODEOWNERS file"
Should we create a `CODEOWNERS` file and add the @pyladies/tech-and-infra-admins handles into that file?

Adding this file would help to tag reviewers to new pull requests automatically.

I'm afraid this might overcrowd our e-mail inboxes, but it seems to be a good idea as a reminder for pull request reviewing.

Any thoughts on that?

[2020-02-18 15:59] lorenanicole commented on #459
@jtemporal that makes sense to me. That being said, the @pyladies/tech-and-infra-admins should be only those with merge powers (and I think we intentionally need to keep this a smaller group to start). I think it may be appropriate for us to make a @pyladies/tech-and-infra which is for contributing members, and they can review.

Additionally all PRs we ought to use a PR template too. Which we can

[2020-02-19 14:49] lorenanicole commented on #459
Added in with https://github.com/pyladies/pyladies/blob/master/.github/CODEOWNERS

[2020-02-19 14:49] #459 closed

[2020-02-22 09:09] Mindiell commented on #161
Hi there, french dev trying to help on python-docs-fr. I saw a lnk to pyladies and discovered you were using mynt which is py2 only.
So, I started to play with it and made an upgrade to py3 (maybe not totally full for now, but functional). Then I installed the pyladies website and generated it without any problem (just modified some "iteritems" into "items" on archive and tag templates you are usi

[2020-02-22 12:56] mUtterberg commented on #161
Hi @Mindiell . That sounds like a great project! This discussion has moved over to [pyladies/global-organizing](https://github.com/pyladies/global-organizing/issues/61). I am adding a link to your comment in that thread!

I would definitely love to read about your process when you publish. Thank you.

[2020-02-22 13:39] Mindiell commented on #161
Hello @mUtterberg, I published my code on https://github.com/Mindiell/mynt3 in order to give you something. Now, I have to contact Anomareh in order to tell him/her what I did and if it could be pushed into original mynt.

PS: I continue on this discussion in order to not override your decisions on the other side ;o)

[2020-02-22 21:03] willingc commented on #161
@mUtterberg I went ahead and archived the sponsors repo. cc/ @Mariatta

@Mindiell Thanks for letting us know about this project. Congrats.

I'm in favor of moving to Python 3 in the interim @mUtterberg using this port if all tests well. Long term, I think that a redo of the frontend and contributor access make sense.

[2020-03-01 13:54] Mariatta opened #464 "Remove newsletter subscription box"
We don't have newsletter, and the subscription doesn't work. Let's just remove the box.

[2020-03-01 18:27] Mariatta commented on #464
Closed via #465

[2020-03-01 18:27] #464 closed

[2020-04-26 21:33] albendz opened #474 "Update Social Media Links on Pyladies Website"
# Summary
Update the social media links at the footer of the Pyladies website

# Details
![pyladiessocial](https://user-images.githubusercontent.com/12453997/80320190-ec988a80-87e2-11ea-8a88-9828ae2897b4.PNG)

* Remove Google+
* Add YouTube channel https://www.youtube.com/PyLadies
* Add slack https://slackin.pyladies.com
* Add twitter https://twitter.com/pyladies
* Add Instagram https://www.instag

[2020-05-08 15:51] albendz commented on #474
Confirmed with @Mariatta I will pick this up and work on it

[2020-05-10 19:40] albendz opened #475 "[Spike] Investigate Options To Build Pyladies Blog"
# What
Research different ways to implement a new Pyladies blog. A few options suggested:
* Build with fullstack option (ex. Django)
* Submit posts on existing blog platform (ex. Medium)
* Host with GitHub/Pelican
* Other?

Related to the Pyladies/Project-Communications project Issue: https://github.com/pyladies/project-communications/issues/1

# Done When...
This task is done when:
* There is a d

[2020-05-17 17:36] albendz commented on #475
Current website/blog:
* Similar to Pelican where there are a mix of markdown and html files that are converted into assets for a static site
* Based on Python2 libraries unavailable in Python3
*  All posts and content are in GitHub and are review via PRs

[2020-05-17 17:38] albendz commented on #475
Pelican:
* This would be most similar to the existing blog - we could do reuse more easily because it also converts html and markdown into static content. Probably some pre-existing experience with this in the community
* Can reuse the already documented contribution flow
* Can be hosted in GitHub

[2020-05-17 17:42] albendz commented on #475
Medium:
* Does not cost to post blogs
* Readers will experience ads
* Potential for revenue from readers who have a Medium membership if we use the partner program (could be an opportunity to invite users to read on Medium and like to support? - I'm thinking this isn't really the type of culture we want)

[2020-05-17 17:44] albendz commented on #475
Wordpress:
* We will have to pay annually to have a particular domain
* If individuals want to be authors on the posts, they will need to create an account and it seems like it will be a bit of a pain to onboard every author into the account
* There is a way for people to submit blog posts for review but lots of manual maintenance of admins

[2020-05-17 18:00] albendz commented on #475
# Recommended: Static Site Generator (Ex. Pelican)
## Pros
* Simplest solution
* No ads
* Manage through GitHub - keeping inline with other Pyladies projects
* Easier to port over old blog content
## Cons
* Limited as a static site

# Wordpress/Medium
# Pros
* Discovery - people reading other tech blogs will organically find ours
* Some opportunities to generate revenue - this doesn't seem like a

[2020-05-17 18:01] albendz commented on #475
Discussion welcome - please comment with experience with  any of these solutions, anything I missed, or different perspectives on the points I've made.

[2020-05-17 18:03] albendz commented on #474
Interesting problem: The site can only be built with Python2. I'm working on another issue #475 to look into other implementations. What I'm thinking is that it would be a reasonable path to migrate this to a more modern static site generator like Pelican rather than maintain it in Python2. Part of it is that we want to do this anyway and the other part is me not wanting to have two versions of Py

[2020-05-17 18:06] albendz commented on #475
Some assumptions that affected my recommendation:
* We are more interested in a high quality (i.e. no random ads) community vs. global discoverability
* Easy and well known is better than highly customizable
* We want full ownership of our content and it's management

[2020-05-18 19:31] Mariatta commented on #474
I think let's not bother trying to maintain a Python 2 version. It would be great to make it work with modern Python framework.

[2020-05-18 19:36] Mariatta commented on #475
No from me on Medium. I don't like the idea that our blog posts to be behind some subscription wall.
Also no Wordpress. Similar reason, it costs money with little added benefit.

[2020-05-23 15:27] albendz commented on #474
That's what it seems like. It would be ideal if we choose a similar Python3 static site generator for #475 so I will see what we decide on there. If not, then I can work on porting the Pyladies site to something newer.

[2020-06-12 19:07] lorenanicole commented on #475
Here's my thought:

- Use netlify and setup a pelican theme https://github.com/netlify-templates/pelican-netlify-cms

Netlify has 300 free minutes a month for builds. Also, do we have a contact at Netlify? I imagine maybe I can find one ...

[2020-06-15 20:24] lorenanicole opened #480 "Remove `master` as name of default branch"
# Scope

GitHub has allowed for tooling to rename your default branch. In accordance with this, PyLadies will be updating the name of our default branch to `main`.

## Work to be done

- [ ] Update default name in settings
- [ ] Confirm name change doesn't impact any CI/CD for website

[2020-06-16 16:57] Mariatta commented on #480
I have tried doing this for my personal repo, so I can share the steps and checklist:

On the command line:
[code]

On GitHub repo settings > Branches
[ ] change the default ``name`` to ``main``
[ ] update the branch protection rules if there is any on the ``master`` branch, add those to `main`.
[ ] update CI rules e.g. travis ci yaml files etc that references master branch
[ ] update Pull request

[2020-06-16 17:06] Mariatta commented on #480
Other consideration: GitHub pages seems to be hardcoded to use `master` from GitHub side. We cannot build GitHub pages unless we have `master` branch. Perhaps not an issue for pyladies/pyladies repo.

[2020-06-17 18:14] #429 closed

[2020-06-17 18:20] #393 closed

[2020-06-17 18:21] lorenanicole commented on #365
@andressavldrs if you'd like to work on it we have a Sat June 20th hack scheduled. See in the PyLadies Slack in the #project-tech-infra channel.

[2020-06-18 00:48] willingc commented on #475
Pelican and deploy using Netlify or Zeit works for me. Agree with @Mariatta re: passing on using Medium.

Let's just go with Pelican and move forward on this :smile:

[2020-06-18 01:40] albendz commented on #475
For next steps, where do we want this new site to live? Or add it to this project?

[2020-06-18 01:59] BethanyG commented on #475
@Marie-L  - rather than Medium, how about [Dev.to](https://dev.to/)?   -- Or rather, the Pelican solution mentioned by @lorenanicole & @willingc above for the full-fledged blog, and re-posting/cross-posting on Dev.to.  We could maybe do shorter things in one spot, and longer-form in another.

[2020-06-18 16:16] Marie-L commented on #475
@BethanyG yeah Dev.to seems like a good option, thanks for the suggestion 😊 - but if most people are in favour of Pelican then I'll go along with that

[2020-06-19 03:06] ks--ks commented on #475
Maybe this will be an option to use?
https://www.staticgen.com/

[2020-06-19 03:08] ks--ks commented on #474
Is this issue still open? I am interested in picking it up.

[2020-06-19 03:15] ks--ks commented on #412
Is someone working on this item?

[2020-06-20 15:55] lorenanicole commented on #475
https://github.com/netlify-templates/pelican-netlify-cms

[2020-06-20 16:02] lorenanicole commented on #475
@albendz to our discussion of how can we provide folks to work on chapters blog we need to figure out how to dismantle the entire monolith, my suggestion is to create a working doc on how we start this and what takes priority such as:

1. Start blog.pyladies.com - a new home for the Global Pyladies blog
2. Provide submodules in the main repo to organizer chapters to do their own website stuff

For

[2020-06-20 16:58] albendz opened #482 "PyLadies Website 2.0 Migration"
Rebuilding the Pyladies blog will require breakup up what we have in the current repo and determining what needs to be moved into the new blog.

**First task:** How do we manage issues across https://github.com/pyladies/pyladies and https://github.com/albendz/project-communications

Some open questions to discuss:
What infrastructure changes will we need? New repos, admin, CICD
We need documentati

[2020-06-20 17:00] albendz commented on #482
@Mariatta Could you add the June 2020 hack label to this?

[2020-06-20 17:03] albendz commented on #482
Related: https://github.com/pyladies/pyladies/issues/475

[2020-06-20 17:12] Mariatta commented on #365
Closed via #483

[2020-06-20 17:12] #365 closed

[2020-06-20 17:13] albendz commented on #475
@ks--ks For the static generators you shared, Pelican uses some of the underlying libraries there... so we'd be using it indirectly

[2020-06-20 17:23] reshamas commented on #474
@albendz can we add Instagram to list:
https://www.instagram.com/pyladies_global/

To do:  figure out how to get access to this FB page:
https://www.facebook.com/pyladies

[2020-06-20 17:39] Mariatta opened #484 "Update the instructions on how to build the pyladies website locally"
We have some instructions written in https://github.com/pyladies/pyladies#setting-up-a-development-system

We need to update those instructions with the following:

[code]

[2020-06-20 17:50] reshamas commented on #474
add LinkedIn group:
https://www.linkedin.com/groups/3984711/

Audrey Feldroy and Esther Nam are admins for this

[2020-06-20 18:54] Marie-L commented on #474
**Next steps:**:
1. understand how [Entypo](http://www.entypo.com/) is used
2. find icon IDs for slack, instagram, stackover flow, you tube and use within link

[2020-06-21 15:51] lorenanicole commented on #480
@econchick we are going to need your help with the below as I don't have the user login info to update this 👇

[2020-06-21 15:52] lorenanicole commented on #480
Ah yes. We are using `elections.pyladies.com` for the GitHub pages. We will cross that bridge as we need.

[2020-06-21 16:09] lorenanicole opened #488 "Setup Netlify for PyLadies website"
# Overview

Netlify is an awesome CI/CD tool and we should use it!

## Work to be done

- [x] Fill out netlify for free tooling as open source project
- [x] Add netlify to repo
- [x] Add netlify badge to website
- [x] Configure netlify deploy steps
- [x] Open PR confirm netlify deploy preview works
- [x] Confirm netlify free account!
- [x] Invite @pyladies/tech-and-infra-admins to the netlify team

[2020-06-21 23:04] lorenanicole opened #499 "CircleCI Deploy Broken: CircleCI Unable to Find Identity File"
# Overview

The website has been updated to Python 3 with the latest `mynt` release https://github.com/pyladies/pyladies/pull/489. As a result, we started updating many of the dependencies to work with Python 3, including Fabric.

### Description

The CircleCI `deploy main` step is failing. You can see the output in the build deploy fail [here](https://app.circleci.com/pipelines/github/pyladies/py

[2020-06-22 16:55] Mariatta opened #500 "PyLadies website: Clean up the deploy setup"
# Overview

We need to clean up the `circle ci` deploy including:

- Setup into circle ci env vars
- Update `readme` instructions for deploy

[2020-06-22 17:00] Mariatta opened #501 "PyLadies website: Clean up the "Forum" page"
At the top of pyladies.com website, there is a link to "Forum" that points to discuss.pyladies.com .

That page seems unfinished and does not look consistent.

Not sure what's needed to complete that page. We might even be able to just remove it for now.

[2020-06-23 02:36] ks--ks opened #502 "Request to Join Project Tech & Infra: ks--ks"
**Proposed Team Member Details**

| Name | GitHub Handle | Slack Handle | PyLadies Chapter | Team Role |
|-------|----------------|--------------|-------------------|-----------|
| Olga | ks--ks | Olga | Open for opportunities | support |

**Why do you want to join the Project Tech & Infra team?**
I would love to contribute to PyLadies community.
/cc @pyladies/pyladies-global-admin @pyladies/tech-

[2020-06-25 12:23] trallard commented on #488
Is this open? I can take care of this if so

[2020-06-25 16:51] BethanyG commented on #488
I think @lorenanicole made a lot of progress on this during the hack weekend, but there may be additional items.  I updated with what I remember her completing.

[2020-06-25 17:46] lorenanicole commented on #488
Ah yes I got most of this done @trallard I am just waiting for us to get our free open source account setup! 💃

[2020-06-25 18:44] lorenanicole commented on #499
This PR https://github.com/pyladies/pyladies/pull/504 replaces using `fab` and instead uses `rsync` in the `circle ci` `deploy main` task instead. Started adding in env vars and, well, we need to finish cleaning that up.

![image](https://user-images.githubusercontent.com/4573607/85780152-eabb4c80-b6e9-11ea-8aea-b6113053e999.png)

[2020-06-25 18:44] #499 closed

[2020-06-25 18:44] lorenanicole commented on #502
@ks--ks are there are specific issues that you are interested in from the backlog?

[2020-06-25 19:42] BethanyG commented on #501
Adding `team:communications` tag as well and pinging @Marie-L, in case this is something the'd like to investigate/design/complete.

[2020-06-26 14:56] trallard commented on #488
Lovely! Let me know if you need help with anything

[2020-06-27 15:46] Mariatta commented on #501
It was reported hat there is `ERR_CERT_DATE_INVALID` error in that page. https://github.com/pyladies/info/issues/6

[2020-06-29 19:58] lorenanicole commented on #488
I have the team! I am going to invite folks that are in the @pyladies/tech-and-infra-admins to the account. What I'll need is the emails y'all use for your GitHub account to invite ya. If you don't want to post your email here you can DM in Slack!

[2020-06-30 02:35] okusama27 commented on #357
Thank you for letting me it.
Sorry, I missed comments.
We set it and We can look PyLadies Tokyo page on  http://tokyo.pyladies.com/ .

[2020-06-30 02:36] okusama27 commented on #357
I close this ticket.

[2020-06-30 02:36] #357 closed

[2020-06-30 17:25] whykay opened #507 "dublin.pyladies.com returns a Heroku Application error page"
## How to reproduce
1. Go to https://dublin.pyladies.com
2. Heroku Application error page is returned

![image](https://user-images.githubusercontent.com/202597/86157104-cd79ea00-bafe-11ea-9884-a96af609bdc9.png)

## Expected:
https://dublin.pyladies.com  should be redirected to https://www.meetup.com/PyLadiesDublin/

[2020-07-02 14:08] whykay commented on #507
I ended up quickly creating a github page for Dublin PyLadies as our landing page. Then let Lynn and others know that I've updated the custom domain in my github settings so they can update their DNS. It all works now. With another great suggested workaround from Lynn, as I couldn't check the "enfore https" in my github settings for that repo... was to add a few lines of script to detect if it's o

[2020-07-02 14:08] #507 closed

[2020-07-02 17:55] lorenanicole commented on #501
I'm removing this from the website. YOLO! It's dead and takes up prime real estate in the nav bar. CC: @Marie-L

[2020-07-02 18:06] lorenanicole commented on #501
PR to remove: https://github.com/pyladies/pyladies/pull/511

[2020-07-02 18:07] #501 closed

[2020-07-02 18:08] lorenanicole commented on #488
OK this has been setup. So here's the question, do we just want to cut over and have netlify do all the hosting? I'm going to say _yes_ haha.

[2020-07-02 18:51] lorenanicole commented on #500
Done with PR #512

[2020-07-02 18:51] #500 closed

[2020-07-02 18:51] lorenanicole commented on #488
Done with PR #512

[2020-07-02 18:51] #488 closed

[2020-07-02 19:01] lorenanicole commented on #484
This is no longer the case as we've bumped mynt to the latest and greatest, and this runs now with python3.

[2020-07-02 19:02] #484 closed

[2020-07-02 19:03] lorenanicole commented on #480
This is now default using `main` and builds from netlify as such.

[2020-07-02 19:03] #480 closed

[2020-07-02 19:08] lorenanicole commented on #474
I've been added to PyLadies Facebook group. We have the additional:

- Slack - slackin.pyladies.com
- Instagram - https://www.instagram.com/pyladies_global/

[2020-07-02 19:59] lorenanicole commented on #474
OK I added in all the social media things, lol, we can decide which to keep or remove:

![image](https://user-images.githubusercontent.com/4573607/86404120-a513fc00-bc74-11ea-95fb-110a2cf4bf5c.png)

Also I removed entypo as the data font, and instead made a collection on icomood.

[2020-07-02 20:10] lorenanicole commented on #474
Closing this issue out as it has been updated.

[2020-07-02 20:10] #474 closed

[2020-07-02 20:12] lorenanicole opened #514 "Adjust social media, netlify badge in footer & add social page to website"
# Overview

This ticket included updating the social media icons: https://github.com/pyladies/pyladies/issues/474. So all the social media icons have been added to the footer.

However the layout in the footer is a bit cluttered. Below shows screenshot from desktop, however on mobile it's not as smooth.

![image](https://user-images.githubusercontent.com/4573607/86405564-32585000-bc77-11ea-8b14-59

[2020-07-02 20:17] lorenanicole commented on #514
@BethanyG this is the ticket I was referring to 😄

[2020-07-02 22:38] BethanyG commented on #514
I'll take a shot!  @Marie-L  and I are going to hack on design this weekend.  I'll add this to our list of things to look at.  😁

[2020-07-03 13:02] lorenanicole opened #515 "Add HTTPS cert on Netlify"
# Overview

We just moved hosting to Netlify yesterday (July 2 @ 15:00~ish CDT) and the `www` reroute -> `pyladies.com` sometimes is [causing the website spreadsheets to break / not be found](https://pyladies.slack.com/archives/CQMFU03T4/p1593730065012800). Likely this is due to needing to set `www.pyladies.com` as the default domain and finish the provisioning of the `https` certificate.

## To b

[2020-07-05 00:09] #396 closed

[2020-07-05 00:09] #161 closed

[2020-07-05 00:09] #263 closed

[2020-07-05 00:09] #156 closed

[2020-07-05 00:09] #153 closed

[2020-07-05 00:09] #150 closed

[2020-07-05 00:09] #152 closed

[2020-07-05 00:09] #148 closed

[2020-07-05 00:09] #82 closed

[2020-07-05 00:09] #130 closed

[2020-07-05 00:09] #66 closed

[2020-07-05 00:09] #37 closed

[2020-07-06 20:17] lorenanicole commented on #515
# Update

Cloudflare and Netlify don't [play along well together](https://community.netlify.com/t/how-do-i-use-cloudflare-dns-with-a-netlify-custom-domain/1557) so we've updated the PyLadies website as follows:

- PyLadies uses Netlify to build the preview, confirm that changes look ✅
- PyLadies is hosted via GitHub pages on `gh-pages` branch

[2020-07-06 20:17] #515 closed

[2020-07-06 20:19] lorenanicole commented on #502
👋 @ks--ks just bumping the above!

[2020-07-06 20:20] lorenanicole commented on #482
Update:

-  github.com/pyladies/chapter-websites repo has been created to help port over websites from this repo
- website is now using netlify for preview CI build step
- website now hosted on github pages via `gh-pages` branch

[2020-07-06 20:21] lorenanicole commented on #412
@ks--ks not actively, if you want to try your hand at it the relevant info about how to develop and work locally can be found in the README.md

[2020-07-07 00:20] lorenanicole commented on #412
I've started working on this here: https://github.com/pyladies/pyladies/pull/526

[2020-07-09 11:55] PluckyPrecious opened #527 "Fix broken link in the "Announcement for Registering PyLadies Members" post on the website."
Links to the highlighted words "February 2020 Minutes" "PyLadies Global Interim Admins" and "broader team" are showing 404 Error.

[2020-07-09 19:43] BethanyG commented on #412
Adding in some links from a Slack discussion:

-  Mapbox and Mabox Search APIs:  https://docs.mapbox.com/api/search/
-  [Folium](https://python-visualization.github.io/folium/)  & [Leaflet](https://leafletjs.com/)
-  [Open Street Maps](https://www.openstreetmap.org/#map=4/38.01/-95.84) & [Related Search Engine Services](https://wiki.openstreetmap.org/wiki/Search_engines#Search_engine_services)
- [

[2020-07-09 19:44] BethanyG commented on #412
@lorenanicole - I would love to help with this, if I can.

[2020-07-09 19:51] BethanyG commented on #412
I think having each point be that chapters logo would be awesome....at least where we have the logos available as SVG.

[2020-07-09 21:52] Mariatta commented on #527
The links are correct they're just not available unless you're a member of the PyLadies org on GitHub.

[2020-07-10 08:28] PluckyPrecious commented on #527
Very well then.

[2020-07-10 08:28] #527 closed

[2020-07-21 17:02] lorenanicole commented on #475
bumping to keep fresh

[2020-07-23 00:03] #392 closed

[2020-07-27 00:09] #475 closed

[2020-07-28 21:01] lorenanicole opened #530 "Moving old website repos from monolith"
# Scope

We are moving all PyLadies chapter websites out of the monolith (this repo) into their own code bases. **All websites not migrated within by Aug 31 2020 will be removed from the PyLadies website.**

## How to migrate

- Open a PR to remove from this repo
- Open a new issue requesting a new repo in github.com/pyladies/chapter-websites/issues/new
- Add code to new repo made to you (tracked

[2020-08-03 04:30] BethanyG commented on #514
Ugh.  This slipped through the tracks and got marked stale.  Will try to tackle this this week (8/2/2020)

[2020-08-09 00:06] #514 closed

[2020-08-11 00:03] #502 closed

[2020-08-15 00:03] #412 closed

[2020-08-16 21:41] ks--ks commented on #502
Sorry for catching up late! Have to fix my notifications. I got access to translations localisations, so all good.

[2020-08-20 21:13] Mariatta commented on #405
Reopening since this is not addressed yet.

[2020-08-20 21:17] ks--ks commented on #405
Looking into it.

[2020-08-24 23:41] ks--ks commented on #405
Here is the update:
1. To fix the events widget, we must have authentication with OAuth2.
2. To be eligible for this authentication, the request must be made from (1) an administrator of the PyLadies network or (2) from someone who has a Meetup Pro subscription. I can get one and request the authentication if this is a good way to go. Please let me know.

[2020-09-15 04:54] ks--ks commented on #405
Working on a solution that would cash PyLadies rmeetup.com into an intermediate location and feed the data into the website.

[2020-09-30 16:20] rutujak24 opened #540 "Request to Join Project Tech & Infra: <rutujak24>"
_This template should be used (edited) for PyLadies members that wish to join the Project Tech & Infra team.

**Proposed Team Member Details**

Name | GitHub Handle | Slack Handle | PyLadies Chapter | Team Role
Rutuja Kawade| rutujak24| Rutuja Kawade| Pyladies Pune| Contributor & Volunteer|

**Why do you want to join the Project Tech & Infra team?**
I am an undergraduate at PICT, Pune. A quality a

[2020-10-08 00:04] #530 closed

[2020-10-08 00:04] #482 closed

[2020-11-07 00:03] #540 closed

[2020-11-07 00:03] #405 closed

[2021-05-06 20:57] Mariatta opened #563 "Replace the "sponsor" email address"
In the page https://pyladies.com/sponsor/, there is a link to email to sponsors@pyladies.com

This url is incorrect. We should use finance@pyladies.com instead.

We have to look through the codebase and see where we need to replace it.

[2021-05-29 14:22] Aashimalik opened #567 "Get Swag Button redirects to https://pyladies.spreadshirt.com/ which is currently unavailable"
<img width="468" alt="Screenshot 2021-05-29 at 7 51 10 PM" src="https://user-images.githubusercontent.com/29588003/120073722-396e2500-c0b7-11eb-9ce3-261c1f163e5a.png">

When clicked to the `Get Swag` Button it redirects to the unavailable page, I have one proposal if this page is under construction can we add a coming soon page.  Also, I'm interested in working on this feature.

Waiting for your r

[2021-05-29 14:33] Mariatta commented on #567
Thanks for the report. The correct url is https://shop.spreadshirt.com/pyladies/

If you would like to create the PR for it, it would be welcomed. Thanks.

[2021-05-29 15:40] Aashimalik commented on #567
Thanks, @Mariatta!
 I have created the PR here https://github.com/pyladies/pyladies/pull/568.

Currently, one check is failing, could you please help me so that I can fix it.

[2021-05-29 19:18] #567 closed

[2021-05-30 17:33] Aashimalik opened #569 "Blog URL is not working"
_This template should be used (edited) for PyLadies members that wish to join the Project Tech & Infra team.

**Proposed Team Member Details**
When clicked on Blogs in the Navigation bar it redirects to `https://blog.pyladies.com/` which is currently unavailable.

Name | GitHub Handle | Slack Handle | PyLadies Chapter | Team Role
| Ayesha Malik | AashiMalik  | ayeshamalik8751@gmail.com |

**Why do

[2021-05-30 17:37] Aashimalik commented on #569
Hi @Mariatta ,

I'm working on a Blog URL fix, Could you please help me in providing the correct URL for the blog tab in the header, currently it redirects to the wrong URL.

Thanks!

[2021-05-30 17:47] Mariatta commented on #569
The blog's url is https://pyladies.com/blog/

Thanks.

[2021-05-30 18:28] Aashimalik commented on #569
Create the PR here https://github.com/pyladies/pyladies/pull/570.
Please help in merging. Thanks!

[2021-06-03 20:41] #569 closed

[2021-06-03 20:41] #563 closed

[2021-10-08 15:14] maud-lv opened #576 "Request to Join Project Tech & Infra: maud-lv"
**Proposed Team Member Details**

Name | GitHub Handle | Slack Handle | PyLadies Chapter | Team Role
| --| --| --| --| --|
Maud Levy | maud-lv | Maud | PyLadies Paris | Organizer

I would like to edit the description of the Paris Page on https://pyladies.com/locations/paris/.
A lot has changed since I joined the organizing team, including our meetup.com URL, our logo and the name of the organizers

[2021-11-09 11:53] okusama27 opened #577 "Create a TXT record for Pyladies Tokyo"
Name | GitHub Handle | Slack Handle | PyLadies Chapter | Team Role
| --| --| --| --|--|
Kameko Ohmura| okusama27| kame-chan | PyLadies Tokyo| staff

Hi.
We use github pages for our web site.
It asked us to create a TXT record in our DNS configuration.
Could you create a new TXT record for the following hostname?

* hostname: `_github-pages-challenge-PyLadiesTokyo.tokyo.pyladies.com`
* value of TXT

[2021-11-09 13:38] econchick commented on #577
Sure thing! I've set it up just now - it may take up to 24 hours to propagate, but I do see the record when I query for it:

[code]

Feel free to re-open if there's anything else!

[2021-11-09 13:38] #577 closed

[2021-11-10 01:39] okusama27 commented on #577
@econchick Thank you for early response!
Our settings for github pages succeeded.

[2021-11-13 00:01] #576 closed